# PRE-PROCESSING THE DATA

## PREPARING THE ENVIRONMENT

Importing the libraries:

In [1]:
import pandas as pd

Defining the constants:

In [2]:
COLS  = [0, 2]
NAMES = ['cnpj', 'name_partner']

## PRE-PROCESSING THE DATA

Pre-processing the data to unify the files and filter the columns of interest:

In [3]:
OUTPUT_PATH = '../data/partners.parquet'


dataframes = []
for i in range(10):
    file_path = f'../data/socios/socios{i}.csv'

    print('Reading', file_path)

    df = pd.read_csv(file_path, sep=';', usecols=COLS, names=NAMES,
                     encoding='latin-1', on_bad_lines='skip')
    df.cnpj = df.cnpj.astype('int32')

    dataframes.append(df)

data = pd.concat(dataframes, ignore_index=True)
data = data.dropna()

data.to_parquet(OUTPUT_PATH, index=False)

Reading ../data/socios/socios0.csv
Reading ../data/socios/socios1.csv
Reading ../data/socios/socios2.csv
Reading ../data/socios/socios3.csv
Reading ../data/socios/socios4.csv
Reading ../data/socios/socios5.csv
Reading ../data/socios/socios6.csv
Reading ../data/socios/socios7.csv
Reading ../data/socios/socios8.csv
Reading ../data/socios/socios9.csv

## EXPLORING THE DATA

Loading the data and displaying the result:

In [4]:
partners = pd.read_parquet('../data/partners.parquet')

partners.head()

       cnpj                     name_partner
0  66011180                  CLAUDIO RONDINI
1  66011180  MARIA APARECIDA QUEIROZ RONDINI
2  85061877              RICARDO BAULE ROSSI
3  85061877    EDUARDO GUILHERME BAULE ROSSI
4   7428785             WENDER ALVES MOREIRA