# BIPARTITE GRAPH

## PREPARING THE ENVIRONMENT

Importing the libraries:

In [29]:
sample = pd.read_parquet(PARTNERS_PARQUET).sample(n=10)

for _, (cnpj, name_partner, partnership_start) in sample.iterrows():
    print(cnpj, name_partner, partnership_start)

27620511 ANA PAULA ABREU DE ALMEIDA 20170427
51074445 MAIRA RAMOS VIEIRA ARAUJO 20230616
42129278 MARCELO ANDRADE GOMES 20210528
3080867 VERA LUCIA SILVA MOSCI 20000811
59114221 SIMONE DA SILVA BISPO 20250127
49613014 SANDRO TEIXEIRA DO NASCIMENTO 20230215
3299489 SERGIO PAULO PEDROSO SILVA 19990719
59837234 ELITIERRY BARBOSA AMORIM RODRIGUES 20250311
50564995 AMANDA DA SILVA MOTA 20230505
5926690 MARCELO GOMES VASCONCELLOS 20060117

In [54]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 14936674 to 6840269
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cnpj               10 non-null     int32
 1   name_partner       10 non-null     object
 2   partnership_start  10 non-null     int64
dtypes: int32(1), int64(1), object(1)
memory usage: 280.0+ bytes

In [30]:
print(cnpj, name_partner, partnership_start)

5926690 MARCELO GOMES VASCONCELLOS 20060117

In [50]:
business = pd.read_parquet(BUSINESS_PARQUET)

In [51]:
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66349375 entries, 0 to 66349374
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   cnpj          int64
 1   trade_name    object
 2   closing_date  int64
 3   opening_date  int64
 4   cep           int64
dtypes: int64(4), object(1)
memory usage: 2.5+ GB

In [52]:
business.head()

      cnpj                 trade_name  closing_date  opening_date       cep
0  4155878  CONSULADO GERAL DA ITALIA             0      19010101  90880481
1  8771954                       None             0      19010814  55900000
2  5245062    CARTORIO REGISTRO CIVIL             0      19220209  15490000
3  5014516                   CARTORIO             0      19220821  75154000
4  7088608                   SINAGOGA             0      19291227   3106030

In [47]:
type(name_partner)

str

In [46]:
selected[1]

'ITALO BARRETO OLIVEIRA SANTOS'

In [ ]:
def test_partners_parquet_contains_csv_data(self):
        
            row_found = False

            for csv_path in self.SOCIOS_PATH:
                df_csv = pd.read_csv(
                    csv_path,
                    sep=';',
                    usecols=self.COLS_PARTNERS,
                    names=self.NAMES_PARTNERS,
                    encoding='latin-1',
                    on_bad_lines='skip'
                ).dropna()

                df_csv.cnpj = df_csv.cnpj.astype('int32')
                df_csv.partnership_start = pd.to_datetime(
                    df_csv.partnership_start,
                    format='%Y%m%d',
                    errors='coerce'
                )

                match = df_csv[
                    (df_csv.cnpj              == row.cnpj) &
                    (df_csv.name_partner      == row.name_partner) &
                    (df_csv.partnership_start == row.partnership_start)
                ]

                if not match.empty:
                    print("\n‚úÖ Match found!")
                    print(f"üìÅ In file: socios{i}.csv")
                    print("üîé Row from parquet:")
                    print(row.to_frame().T.to_string(index=False))
                    print("üìÑ Matching row from CSV:")
                    print(match.iloc[0].to_frame().T.to_string(index=False))
                    row_found = True
                    break

            if not row_found:
                self.fail(
                    f"\n‚ùå Row from parquet not found in any socios[0-9].csv file:\n{row.to_frame().T.to_string(index=False)}"
                )




if __name__ == '__main__':
    unittest.main()

In [1]:
import pickle
import pandas as pd

from collections import defaultdict

Loading the data:

In [2]:
partners = pd.read_parquet('../data/parquet/partners.parquet')

partners.head()

       cnpj               name_partner partnership_start
0   1685190              JUSSARA PAZIN        1997-02-24
1   1685190              ANTONIO PAZIN        1999-10-06
2  92859388             ARI JOAO MARIA        2005-09-12
3  92859636           JOSE CARLOS LIMA        2005-09-12
4  92859677  EGON ROBERTO STRASSBURGER        1989-06-09

In [4]:
partners.head(20)

        cnpj                           name_partner partnership_start
0    1685190                          JUSSARA PAZIN        1997-02-24
1    1685190                          ANTONIO PAZIN        1999-10-06
2   92859388                         ARI JOAO MARIA        2005-09-12
3   92859636                       JOSE CARLOS LIMA        2005-09-12
4   92859677              EGON ROBERTO STRASSBURGER        1989-06-09
5   92859677    MARIA IVONETE SANTIAGO STRASSBURGER        1989-06-09
6    4979683                LELIANA ABBUD MARCONDES        2002-03-27
7    4979683                  MARIA APARECIDA ABBUD        2004-11-03
8    4979687             ANTONIO CASSIMIRO SOBRINHO        2002-02-25
9    4979687           WANDERLEI NOGUEIRA CASSIMIRO        2002-02-25
10   3336027            EDMILSON ANTONIO DOS SANTOS        2005-09-12
11   1685220                   MARCELO GALIAS BUENO        1997-02-04
12   1685220                 LUCIA HELENA MENEGHETE        1997-02-04
13   1685226             LUIS CARLOS SILVA DE FARIA        2003-09-25
14   1685226                     PEEKY AMERICA, INC        2001-01-27
15   4979710               LARISSA FERNANDES TONINI        2004-03-16
16   4979710    GERSON FERNANDES DE CARVALHO JUNIOR        2004-03-16
17   4979713                     NEUZA MARIA AMARAL        2002-03-12
18   4979713  SEBASTIAO FIRMINO DOS SANTOS SOBRINHO        2002-03-12
19  92860113                       IVETE RIVA TURRA        2024-07-17

In [3]:
len(partners)

25938492

## BIPARTITE GRAPH

Generating the bipartite graph:

In [3]:
cnpj2id    = {}
partner2id = {}
adjdict    = defaultdict(list)

cnpj_id  = 0
cnpj_idx = 0
partner_id  = 0
partner_idx = 0

for idx, (cnpj, partner) in enumerate(partners.itertuples(index=False)):
    if cnpj not in cnpj2id:
        cnpj_idx  = cnpj_id
        cnpj_id  += 1

        cnpj2id[cnpj] = cnpj_idx
    else:
        cnpj_idx = cnpj2id[cnpj]

    if partner not in partner2id:
        partner_idx  = partner_id
        partner_id  += 1

        partner2id[partner] = partner_idx
    else:
        partner_idx = partner2id[partner]

    adjdict[cnpj_idx].append(partner_idx)

    if idx % 1000000 == 999999:
        print('Number of rows processed =', idx + 1)

Number of rows processed = 1000000
Number of rows processed = 2000000
Number of rows processed = 3000000
Number of rows processed = 4000000
Number of rows processed = 5000000
Number of rows processed = 6000000
Number of rows processed = 7000000
Number of rows processed = 8000000
Number of rows processed = 9000000
Number of rows processed = 10000000
Number of rows processed = 11000000
Number of rows processed = 12000000
Number of rows processed = 13000000
Number of rows processed = 14000000
Number of rows processed = 15000000
Number of rows processed = 16000000
Number of rows processed = 17000000
Number of rows processed = 18000000
Number of rows processed = 19000000
Number of rows processed = 20000000
Number of rows processed = 21000000
Number of rows processed = 22000000
Number of rows processed = 23000000
Number of rows processed = 24000000
Number of rows processed = 25000000

Optimizing the data structure of the adjacency list:

In [4]:
adjacency = [[]] * len(adjdict)

for k, v in adjdict.items():
    adjacency[k] = v

del adjdict

Saving the data:

In [5]:
with open('../data/cnpj2id.pkl'   , 'wb') as f:
    pickle.dump(cnpj2id   , f)

with open('../data/partner2id.pkl', 'wb') as f:
    pickle.dump(partner2id, f)

with open('../data/adjacency.pkl' , 'wb') as f:
    pickle.dump(adjacency , f)

Freeing the memory of objects:

In [6]:
del cnpj2id
del partner2id
del adjacency

## EXPLORING THE RESULTS

Checking the number of companies and partners:

In [7]:
print('Number of companies in the \'partners\' file =', partners.cnpj.nunique())
print('Number of partners  in the \'partners\' file =', partners.name_partner.nunique())

Number of companies in the 'partners' file = 14441622
Number of partners  in the 'partners' file = 14686766

Freeing up resources:

In [8]:
del partners

Loading the data:

In [9]:
with open('../data/cnpj2id.pkl'   , 'rb') as f:
    cnpj2id = pickle.load(f)

with open('../data/partner2id.pkl', 'rb') as f:
    partner2id = pickle.load(f)

with open('../data/adjacency.pkl' , 'rb') as f:
    adjacency = pickle.load(f)

Confirming the number of companies and partners:

In [10]:
print('Number of companies in the \'cnpj2id\'    file =', len(cnpj2id   ))
print('Number of partners  in the \'partner2id\' file =', len(partner2id))

Number of companies in the 'cnpj2id'    file = 14441622
Number of partners  in the 'partner2id' file = 14686766

Obtaining the partners of a given company:

In [11]:
CNPJ = 85061877


idx      = cnpj2id[CNPJ]
partners = set(adjacency[idx])

print(f'CNPJ members {CNPJ}:')
print()
for nome, idx in partner2id.items():
    if idx in partners:
        partners.remove(idx)

        print(nome)

    if not partners:
        break

CNPJ members 85061877:

RICARDO BAULE ROSSI
EDUARDO GUILHERME BAULE ROSSI